/* GLOBAL VARS */
html, body {
  background-color: var(--pastell);
  color: var(--green);
}

/* h1 {
  text-transform: uppercase;
  font-family: Londrina Outline;
} */

a {
  color: var(--orange);
  text-decoration: underline;
}


/* KALE VARS */
.kaleNav{
  background-color: var(--orange);
  padding: 15px;
}

.kaleBtn {
  color: var(--pastell);
  background-color: var(--orange);
  border-color: var(--orange);
  border-radius: 20px;
  padding: 5px 50px;
  text-transform: uppercase;
}

.kaleTitle {
  font-family: 'Londrina Outline';
  font-size: 40px;
  text-decoration: underline;
  color: var(--red);
  text-transform: uppercase;
}


/* BOOTSTRAP */
.nav-link {
  color: var(--green);
  text-transform: uppercase;
}

.nav-link:hover {
  text-transform: uppercase;
  color: var(--green);
  text-decoration: underline;
}

.card-title {
  text-transform: uppercase;
}

.card,
.card-img {
  border-radius: calc(1.25rem - 1px);
}

.card {
  border: #fceadb 1px solid;
}

/* .kaleContainer {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
} */


:root {
  --font-color: #e5e5e5;
  --text: #222222;
  --green: #03565A;
  --orange: #DC511A;
  --red: #842029;
  --blue: #092349;
  --pastell: #FCEADB;
  --rose: #D8C0C5;
}
