html, body {
  background-color: var(--pastell);
}

.kaleNav{
  background-color: var(--green);
  padding: 15px;
}

.kaleContainer {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  
}




:root {
  --font-color: #e5e5e5;
  --text: #222222;
  --green: #03565A;
  --orange: #DC511A;
  --blue: #092349;
  --pastell: #FCEADB;
  --rose: #D8C0C5;
}
